* {
  box-sizing: border-box;
}

.container {
  @include mq(sm) {
    max-width: $col-sm;
  }

  @include mq(md) {
    max-width: $col-md;
  }

  @include mq(lg) {
    max-width: $col-lg;
  }

  @include mq(xl) {
    max-width: $col-xl;
  }
  position: relative;

  width: 100%;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (width <= 600px) {
  .container {
    padding: 0;
  }
}
