$main: #f7f5fa;
$gray-3: #eeeaf5;
$gray-5: #a8a6ac;
$gray-7: #2a282f;
$white: white;
$text-color: white;
$black: black;
$second: #483efb;
$second-hover: #002756;
$red: #ff0915;
$green: #0fa80f;
$skeleton-color: #e0e0e2;
$skeleton-color2: #ededee;
$sm: 36em;
$md: 48em;
$lg: 62em;
$gl: 64em;
$xl: 75em;
$col-sm: 540px;
$col-md: 720px;
$col-lg: 960px;
$col-xl: 1140px;
$breakpoints: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
);

@mixin mq($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}

@mixin shadow {
  box-shadow: 0 5px 10px 2px rgb(34 60 80 / 15%);
}

@mixin transition {
  transition: all 0.3s ease-out;
}
