$main: #f7f5fa;
$gray-3: #eeeaf5;
$gray-5: #a8a6ac;
$gray-7: #2a282f;
$text-color: white;
$black: black;

$sm: 36em;
$md: 48em;
$lg: 62em;
$gl: 64em;
$xl: 75em;

$col-sm: 540px;
$col-md: 720px;
$col-lg: 960px;
$col-xl: 1140px;

$breakpoints: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
);

@mixin mq($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}

@mixin shadow {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.15);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.15);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.15);
}

@mixin transition {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
