.main {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__skeletons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0;
  }

  &__error {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
  }
}
