.toast {
  @include transition;
  position: fixed;
  right: 10%;
  bottom: 5%;

  display: flex;
  align-items: center;

  padding: 15px;

  text-align: center;

  background-color: $green;
  border-radius: 8px;

  &_show {
    display: block;
  }

  &_hidden {
    overflow: hidden;
    height: 0;
    opacity: 0;
  }

  &_error {
    background-color: $red;
  }
}
