.skeleton {
  display: flex;
  flex-direction: column;
  animation: color 4s infinite;

  @keyframes color {
    0% {
      color: $skeleton-color;
    }

    100% {
      transform: $skeleton-color2;
    }
  }

  &__image {
    width: 100%;
    height: 350px;
    background: $skeleton-color;
    border-radius: 10px;
  }

  &__footer {
    width: 100%;
    height: 100px;
    margin-top: 10px;

    background: $skeleton-color;
    border-radius: 10px;
  }
}
