.button {
  @include transition;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;

  color: $main;

  background-color: $second;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: $second-hover;
  }

  &:disabled {
    cursor: default;
    background-color: $second-disabled;
  }
}
