.button {
  display: flex;
  border-radius: 5px;
  padding: 10px;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: $second;
  color: $main;
  cursor: pointer;
  @include transition;

  &:hover {
    background-color: $second-hover;
  }
}
