.searchBar {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  &__wrapper {
    display: flex;
    align-items: center;
    border: 1px solid $gray-5;
    border-radius: 10px;
  }

  &__label {
    display: flex;
  }

  &__input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin: auto;
    padding-left: 5px;

    font-size: 0;
  }
}
