.header {
  @include shadow;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-left: 0;
  }

  &__item {
    @include transition;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;

    font-weight: 600;
    color: $black;

    border-radius: 5px;

    &_active {
      background-color: $gray-3;
    }
  }
}
