.inputContainer {
  padding: 0 0 25px;

  &__label {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;

    &Message {
      margin: 0 0 7px;
    }
  }

  &__error {
    position: absolute;
    color: $red;
  }
}
