.humanList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0;
}

@media (width <= 991px) {
  .humanList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width <= 767px) {
  .humanList {
    grid-template-columns: repeat(2, 1fr);
  }
}
